<div id="indexContent">
    <!--Header-->
    <div id="headerIndex">
        <div id=containerHeaderIndex>
            <div class="separadorH">
                <hr>
            </div>
            <div id="textHeaderIndex">
                <p>BOUTIQUE ONLINE</p>
            </div>
            <div class="separadorH">
                <hr>
            </div>
        </div>
    </div>
    <!--Finish Header-->
    <div class="contentQuestion">
        <!-- Questions -->
        <section id="question1">
            <h1 id="tituloPregunta">¿Para quien es el perfume?</h1>
            <p>Por favor, indicanos que tipo de perfume quieres.</p>
            <div class="Img3">
                <div class="portaImg">
                    <input type="img" id="genero" name="genero" [(ngModel)]="crearPedido.genero" value="Hombre" src="../../../../../assets/img/product-11.jpg" alt="Hombre">
                    <p>Para Hombre</p>
                </div>
                <!-- <div class="portaImg">
                    <input [(ngModel)]="crearPedido.genero" type="image" id="selecMujer" name="selecMujer" value="Mujer" src="../../../../../assets/img/product-07.jpg" alt="Mujer">
                    <p>Para Mujer</p>
                </div>
                <div class="portaImg">
                    <input [(ngModel)]="crearPedido.genero" type="image" id="selecUnisex" name="selecUnisex" value="Unisex" src="../../../../../assets/img/unisex.png" alt="Unisex">
                    <p>Unisex</p>
                </div> -->
            </div>
        </section>
        <section id="question2">
            <h1 id="tituloPregunta">Edad</h1>
            <p>Por favor, indicanos tu edad o la edad aproximada de la persona que utilizará el perfume.</p>
            <input type="number" name="edad" id="edad" class="decoInput" [(ngModel)]="crearPedido.edad" placeholder="Escriba la edad aqui.">
            <input type="radio" name="genero" id="genero" class="decoInput" value="Hombre" [(ngModel)]="crearPedido.genero">
        </section>
        <section id="question3">
            <h1 id="tituloPregunta">Carácter</h1>
            <p>Por favor, indicanos tu carácter o de la persona que utilizará el perfume.</p>
            <div class="Img3">
                <div class="portaImg">
                    <a href="#"><img src="../../../../../assets/img/informal.png" alt="Informal"></a>
                    <p>Informal</p>
                </div>
                <div class="portaImg">
                    <a href="#"><img src="../../../../../assets/img/natural.png" alt="Natural"></a>
                    <p>Natural</p>
                </div>
                <div class="portaImg">
                    <a href="#"><img src="../../../../../assets/img/clasico.png" alt="Clasico"></a>
                    <p>Clásico</p>
                </div>
            </div>
            <div class="Img3">
                <div class="portaImg">
                    <a href="#"><img src="../../../../../assets/img/contemp.png" alt="Contemporáneo"></a>
                    <p>Informal</p>
                </div>
                <div class="portaImg">
                    <a href="#"><img src="../../../../../assets/img/seductor.png" alt="Seductor"></a>
                    <p>Natural</p>
                </div>
            </div>
        </section>
        <section id="question4">
            <h1 id="tituloPregunta">Familia Olfativa</h1>
            <p>Elige una de las siguiente familias olfativas, que marcará el carácter principal del perfume.</p>
            <div class="Img3">
                <div class="portaImgFamily">
                    <a href="#"><img src="../../../../../assets/img/floral.png" alt="Floral"></a>
                    <p>Informal</p>
                </div>
                <div class="portaImgFamily">
                    <a href="#"><img src="../../../../../assets/img/frutal.png" alt="Frutal"></a>
                    <p>Natural</p>
                </div>
                <div class="portaImgFamily">
                    <a href="#"><img src="../../../../../assets/img/verde.png" alt="Verde"></a>
                    <p>Clásico</p>
                </div>
                <div class="portaImgFamily">
                    <a href="#"><img src="../../../../../assets/img/aromatic.png" alt="Aromático"></a>
                    <p>Clásico</p>
                </div>
            </div>
            <div class="Img3">
                <div class="portaImgFamily">
                    <a href="#"><img src="../../../../../assets/img/fougere.png" alt="Fougére"></a>
                    <p>Informal</p>
                </div>
                <div class="portaImgFamily">
                    <a href="#"><img src="../../../../../assets/img/citrico.png" alt="Cítrico"></a>
                    <p>Natural</p>
                </div>
                <div class="portaImgFamily">
                    <a href="#"><img src="../../../../../assets/img/chipre.png" alt="Chipre"></a>
                    <p>Clásico</p>
                </div>
                <div class="portaImgFamily">
                    <a href="#"><img src="../../../../../assets/img/madera.png" alt="Amaderada"></a>
                    <p>Clásico</p>
                </div>
            </div>
        </section>
        <section id="question5">
            <h1 id="tituloPregunta">Perfumes Favoritos</h1>
            <p>Por favor, indicanos cuales son tus perfumes favoritos o de la persona que utilizará el perfume.</p>
            <input type="text" name="namePerfume" id="namePerfume" class="decoInput" placeholder="Escriba aqui su respuesta...">
        </section>
        <!-- Finish Questions-->

        <!--Header-->
    <div id="headerIndex">
        <div id=containerHeaderIndex>
            <div class="separadorH">
                <hr>
            </div>
            <div id="textHeaderIndex">
                <p>DATOS DE ENVIO</p>
            </div>
            <div class="separadorH">
                <hr>
            </div>
        </div>
    </div>
    <!--Finish Header-->

    <!-- Datos de envio-->
    <section class="datosEnvio">
        <div class="datosInputs">
            <p>Diligencia los datos completos para el envió de las tres muestras según tus gustos y personalidad.</p>
            <input type="text" name="nombres" id="nombres" class="decoInput" placeholder="Nombres">
            <input type="text" name="apellidos" id="apellidos" class="decoInput" placeholder="Apellidos">
            <input type="text" name="ciudad" id="ciudad" class="decoInput" placeholder="Ciudad">
            <input type="text" name="direccion" id="direccion" class="decoInput" placeholder="Dirección">
            <input type="number" name="telContact" id="telContact" class="decoInput" placeholder="Teléfono de Contacto">
            <input type="email" name="correo" id="correo" class="decoInput" placeholder="E-mail">
            <div class="">
                <div class="enlace">
                    <button (click)="crear()">Enviar</button>
                </div>
            </div>
        </div>

    </section>
    <!-- Finish Datos de envio-->
</div>