<app-menu></app-menu>
<!--Begining of index's content-->
<div id="indexContent">
    <div class="oficinaVirtualContainer">
        <!--Accordion #1 -->

        <div multi = "true" *ngIf="lista.length">
            <div *ngFor="let lista of lista" hidenToggle="false">
                <div class="container">
                    <div class="grid-container">
                        <div class="grid-col">
                            <div class="Title-1">Fecha de Pedido</div>
                            <div class="SubTitle-1">{{ lista.fecha }}</div>
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="Title-4">DETALLES</div>
                    <div class="sectionPanel">
                        <div class="grid-details ">
                            <div class="grid-1 ">
                                <div class="Title-4 ">DESTINATARIO</div>
                                <div class="textPanel "> {{ lista.nombres }} {{ lista.apellidos }} </div>
                            </div>
                            <div class="grid-2 ">
                                <div class="Title-4 ">DIRECCIÓN DE ENTREGA</div>
                                <div class="textPanel "> {{ lista.direccion }} - {{ lista.ciudad }} </div>
                            </div>
                            <div class="grid-3 ">
                                <div class="Title-4 ">FAVORITOS</div>
                                <div class="textPanel ">{{ lista.favoritos }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="Title-4 ">PRODUCTOS</div>
                    <div class="sectionPanel">
                        <div class="grid-products">
                            <div class="grid-img">
                                <img src="../../../../../assets/img/Perfume.png" alt="perfume" width="100%">
                            </div>
                            <div>
                                <div class="Title-4 ">PERFUME PERSONALIZADO - {{ lista.perfume }}</div>
                                <div class="textPanel "><b><u>Aroma: {{ lista.aroma }}</u></b></div>
                            </div>
                            <div>
                                <div class="Title-4 ">CANTIDAD</div>
                                <div class="textPanel "><b>{{ lista.cantidad }}</b></div>
                            </div>
        
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>




    </div>
    <!--Finish of Accordion-->
</div>

<!--Finish of index's content-->
